[submodule "external/apex"]
	path = external/apex
	url = https://github.com/NVIDIA/apex
[submodule "test/bambootest"]
	path = test/bambootest
	url = git@github.com:ETOgaosion/bamboo-test.git
[submodule "simulator"]
	path = simulator
	url = git@github.com:ETOgaosion/BambooSimulator.git
